@import '../breakpoints';

.wrap, [wrap]     { flex-wrap: wrap; }
.nowrap, [nowrap] { flex-wrap: nowrap; }
.sized ()         { box-sizing: border-box; }
.flex ()          { display: flex; flex: none; .sized; * { .sized } }
.fluid ()         { width: 100%; margin-left: auto; margin-right: auto;}
.x-axis ()        { flex-direction: row; &.reverse, &[reverse] { flex-direction: row-reverse; } }
.y-axis ()        { flex-direction: column; &.reverse, &[reverse] { flex-direction: column-reverse; } }

box, .box, [box]          { flex: none; }
row, .row                 { .flex; .x-axis; .wrap; }
grid, .grid               { .flex; .fluid; .wrap; .quantized; }
stack, .stack             { .flex; .y-axis; .wrap; }
row-grid, .row-grid       { .flex; .x-axis; .wrap; .grid; }
stack-grid, .stack-grid   { .flex; .y-axis; .wrap; .grid; }
grid-fluid, .grid-fluid   { .flex; .fluid; .wrap; }
