// BREAKPOINT THRESHOLDS -======================================================
@xl-min: 1500px;
@lg-max: (@xl-min - 1);
@lg-min: 1200px;
@md-max: (@lg-min - 1);
@md-min: 768px;
@sm-max: (@md-min - 1);
@sm-min: 480px;
@xs-max: (@sm-min - 1);
@xs-min: 0px;

// Media Queries Vars -=========================================================
@xs: ~"(max-width: @{xs-max})";
@xs_: ~"(min-width: @{xs-min})";
// SM - Phones and small tablets
@_sm: ~"(max-width: @{sm-max})";
@sm: ~"(min-width: @{sm-min}) and (max-width: @{sm-max})";
@sm_: ~"(min-width: @{sm-min})";
// MD - mostly tablets but some phones and computers
@_md: ~"(max-width: @{md-max})";
@md: ~"(min-width: @{md-min}) and (max-width: @{md-max})";
@md_: ~"(min-width: @{md-min})";
// LG - mostly computers and huge tablets
@_lg: ~"(max-width: @{lg-max})";
@lg: ~"(min-width: @{lg-min}) and (max-width: @{lg-max})";
@lg_: ~"(min-width: @{lg-min})";
// XL - big ass computers
@xl: ~"(min-width: @{xl-min})";
