// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
//                                                                             -
//                                 Mansion                                     -
//                                                                             -
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@import 'breakpoints';

.wrap, [wrap] { flex-wrap: wrap; }
.flex ()      { display: flex; flex: 1; }
.fluid ()     { width: 100%; margin-left: auto; margin-right: auto;}
.x-axis ()    { flex-direction: row; &.reverse, &[reverse] { flex-direction: row-reverse; } }
.y-axis ()    { flex-direction: column; &.reverse, &[reverse] { flex-direction: column-reverse; } }
.snappy () {
  @media @xs { max-width: none; }
  @media @sm { max-width: 470px; }
  @media @md { max-width: 750px; }
  @media @lg { max-width: 1045px; }
  @media @xl { max-width: 1250px; }
}

grid, .grid               { .flex; .fluid; .snappy; }
grid-fluid, .grid-fluid   { .flex; .fluid; }

row, .row                 { .flex; .x-axis; }
row-grid, .row-grid       { .flex; .x-axis; .grid; }

stack, .stack             { .flex; .y-axis; }
stack-grid, .stack-grid   { .flex; .y-axis; .grid; }

// Boxes - individual cells -===================================================

box, .box, [box]  { flex: 1; flex-basis: auto; }
.box-x1, [flex="1"], [flex\:1]    { flex: 1; }
.box-x2, [flex="2"], [flex\:2]    { flex: 2; }
.box-x3, [flex="3"], [flex\:3]    { flex: 3; }
.box-x4, [flex="4"], [flex\:4]    { flex: 4; }
.box-x5, [flex="5"], [flex\:5]    { flex: 5; }
.box-x6, [flex="6"], [flex\:6]    { flex: 6; }
.box-x7, [flex="7"], [flex\:7]    { flex: 7; }
.box-x8, [flex="8"], [flex\:8]    { flex: 8; }
.box-x9, [flex="9"], [flex\:9]    { flex: 9; }
.box-x10, [flex="10"], [flex\:10] { flex: 10; }

@1-of-12: 8.33%;
@2-of-12: 16.66%;
@3-of-12: 25%;
@4-of-12: 33.33%;
@5-of-12: 41.66%;
@6-of-12: 50%;
@7-of-12: 58.33%;
@8-of-12: 66.66%;
@9-of-12: 75%;
@10-of-12: 83.33%;
@11-of-12: 91.66%;
@12-of-12: 100%;

// COOOOOLLUMMMNNNSSSSSSSS BROOOO ~=============================================
.box-0  { flex: 0 1 auto; }
.box-1  { flex: 0 1 @1-of-12; }
.box-2  { flex: 0 1 @2-of-12; }
.box-3  { flex: 0 1 @3-of-12; }
.box-4  { flex: 0 1 @4-of-12; }
.box-5  { flex: 0 1 @5-of-12; }
.box-6  { flex: 0 1 @6-of-12; }
.box-7  { flex: 0 1 @7-of-12; }
.box-8  { flex: 0 1 @8-of-12; }
.box-9  { flex: 0 1 @9-of-12; }
.box-10 { flex: 0 1 @10-of-12; }
.box-11 { flex: 0 1 @11-of-12; }
.box-12 { flex: 0 1 @12-of-12; }

@media @xs_ {
  .box-xs-auto, [xs="auto"], [xs\:auto] { .box-0 }
  .box-xs-1, [xs="1"], [xs\:1]          { .box-1  }
  .box-xs-2, [xs="2"], [xs\:2]          { .box-2  }
  .box-xs-3, [xs="3"], [xs\:3]          { .box-3  }
  .box-xs-4, [xs="4"], [xs\:4]          { .box-4  }
  .box-xs-5, [xs="5"], [xs\:5]          { .box-5  }
  .box-xs-6, [xs="6"], [xs\:6]          { .box-6  }
  .box-xs-7, [xs="7"], [xs\:7]          { .box-7  }
  .box-xs-8, [xs="8"], [xs\:8]          { .box-8  }
  .box-xs-9, [xs="9"], [xs\:9]          { .box-9  }
  .box-xs-10, [xs="10"], [xs\:10]       { .box-10 }
  .box-xs-11, [xs="11"], [xs\:11]       { .box-11 }
  .box-xs-12, [xs="12"], [xs\:12]       { .box-12 }
}
@media @sm_ {
  .box-sm-auto, [sm="auto"], [sm\:auto] { .box-0  }
  .box-sm-1, [sm="1"], [sm\:1]          { .box-1  }
  .box-sm-2, [sm="2"], [sm\:2]          { .box-2  }
  .box-sm-3, [sm="3"], [sm\:3]          { .box-3  }
  .box-sm-4, [sm="4"], [sm\:4]          { .box-4  }
  .box-sm-5, [sm="5"], [sm\:5]          { .box-5  }
  .box-sm-6, [sm="6"], [sm\:6]          { .box-6  }
  .box-sm-7, [sm="7"], [sm\:7]          { .box-7  }
  .box-sm-8, [sm="8"], [sm\:8]          { .box-8  }
  .box-sm-9, [sm="9"], [sm\:9]          { .box-9  }
  .box-sm-10, [sm="10"], [sm\:10]       { .box-10 }
  .box-sm-11, [sm="11"], [sm\:11]       { .box-11 }
  .box-sm-12, [sm="12"], [sm\:12]       { .box-12 }
}
@media @md_ {
  .box-md-auto, [md="auto"], [md\:auto] { .box-0  }
  .box-md-1, [md="1"], [md\:1]          { .box-1  }
  .box-md-2, [md="2"], [md\:2]          { .box-2  }
  .box-md-3, [md="3"], [md\:3]          { .box-3  }
  .box-md-4, [md="4"], [md\:4]          { .box-4  }
  .box-md-5, [md="5"], [md\:5]          { .box-5  }
  .box-md-6, [md="6"], [md\:6]          { .box-6  }
  .box-md-7, [md="7"], [md\:7]          { .box-7  }
  .box-md-8, [md="8"], [md\:8]          { .box-8  }
  .box-md-9, [md="9"], [md\:9]          { .box-9  }
  .box-md-10, [md="10"], [md\:10]       { .box-10 }
  .box-md-11, [md="11"], [md\:11]       { .box-11 }
  .box-md-12, [md="12"], [md\:12]       { .box-12 }
}
@media @lg_ {
  .box-lg-auto, [lg="auto"], [lg\:auto] { .box-0  }
  .box-lg-1, [lg="1"], [lg\:1]          { .box-1  }
  .box-lg-2, [lg="2"], [lg\:2]          { .box-2  }
  .box-lg-3, [lg="3"], [lg\:3]          { .box-3  }
  .box-lg-4, [lg="4"], [lg\:4]          { .box-4  }
  .box-lg-5, [lg="5"], [lg\:5]          { .box-5  }
  .box-lg-6, [lg="6"], [lg\:6]          { .box-6  }
  .box-lg-7, [lg="7"], [lg\:7]          { .box-7  }
  .box-lg-8, [lg="8"], [lg\:8]          { .box-8  }
  .box-lg-9, [lg="9"], [lg\:9]          { .box-9  }
  .box-lg-10, [lg="10"], [lg\:10]       { .box-10 }
  .box-lg-11, [lg="11"], [lg\:11]       { .box-11 }
  .box-lg-12, [lg="12"], [lg\:12]       { .box-12 }
}
@media @xl {
  .box-xl-auto, [xl="auto"], [xl\:auto] { .box-0  }
  .box-xl-1, [xl="1"], [xl\:1]          { .box-1  }
  // .box-xl-2, [xl="2"], [xl\:2]          { .box-2  }
  .box-xl-3, [xl="3"], [xl\:3]          { .box-3  }
  .box-xl-4, [xl="4"], [xl\:4]          { .box-4  }
  .box-xl-5, [xl="5"], [xl\:5]          { .box-5  }
  .box-xl-6, [xl="6"], [xl\:6]          { .box-6  }
  .box-xl-7, [xl="7"], [xl\:7]          { .box-7  }
  .box-xl-8, [xl="8"], [xl\:8]          { .box-8  }
  .box-xl-9, [xl="9"], [xl\:9]          { .box-9  }
  .box-xl-10, [xl="10"], [xl\:10]       { .box-10 }
  .box-xl-11, [xl="11"], [xl\:11]       { .box-11 }
  .box-xl-12, [xl="12"], [xl\:12]       { .box-12 }
}


// Grow: flex-grow convenience classes
.grow-0, [grow="0"], [grow\:0]      { flex-grow: 0; }
.grow-1, [grow="1"], [grow\:1]      { flex-grow: 1; }
.grow-2, [grow="2"], [grow\:2]      { flex-grow: 2; }
.grow-3, [grow="3"], [grow\:3]      { flex-grow: 3; }
.grow-4, [grow="4"], [grow\:4]      { flex-grow: 4; }
.grow-5, [grow="5"], [grow\:5]      { flex-grow: 5; }
.grow-6, [grow="6"], [grow\:6]      { flex-grow: 6; }
.grow-7, [grow="7"], [grow\:7]      { flex-grow: 7; }
.grow-8, [grow="8"], [grow\:8]      { flex-grow: 8; }
.grow-9, [grow="9"], [grow\:9]      { flex-grow: 9; }
.grow-10, [grow="10"], [grow\:10]   { flex-grow: 10; }

// Shrink: flex-shrink convenience classes
.shrink-0, [shrink="0"], [shrink\:0]      { flex-shrink: 0; }
.shrink-1, [shrink="1"], [shrink\:1]      { flex-shrink: 1; }
.shrink-2, [shrink="2"], [shrink\:2]      { flex-shrink: 2; }
.shrink-3, [shrink="3"], [shrink\:3]      { flex-shrink: 3; }
.shrink-4, [shrink="4"], [shrink\:4]      { flex-shrink: 4; }
.shrink-5, [shrink="5"], [shrink\:5]      { flex-shrink: 5; }
.shrink-6, [shrink="6"], [shrink\:6]      { flex-shrink: 6; }
.shrink-7, [shrink="7"], [shrink\:7]      { flex-shrink: 7; }
.shrink-8, [shrink="8"], [shrink\:8]      { flex-shrink: 8; }
.shrink-9, [shrink="9"], [shrink\:9]      { flex-shrink: 9; }
.shrink-10, [shrink="10"], [shrink\:10]   { flex-shrink: 10; }

// Flow: set alignment/spacing for items in a container, row, or stack
.flow-center, [flow="center"], [flow\:center]     { justify-content: center; }
.flow-end, [flow="end"], [flow\:end]              { justify-content: flex-end; }
.flow-start, [flow="start"], [flow\:start]        { justify-content: flex-start; }
.flow-around, [flow="around"], [flow\:around]     { justify-content: space-around; }
.flow-between, [flow="between"], [flow\:between]  { justify-content: space-between; }

.drift-center, [drift="center"], [drift\:center]     { align-items: center; }
.drift-stretch, [drift="stretch"], [drift\:stretch]  { align-items: stretch; }
.drift-end, [drift="end"], [drift\:end]              { align-items: flex-end; }
.drift-base, [drift="base"], [drift\:base]           { align-items: baseline; }
.drift-start, [drift="start"], [drift\:start]        { align-items: flex-start; }

// Snap: align individual items within their containers
.snap-center,[snap="center"], [snap\:center]  { align-self: center; }
.snap-base, [snap="base"], [snap\:base]       { align-self: baseline; }
.snap-end, [snap="end"], [snap\:end]          { align-self: flex-end; }
.snap-start, [snap="start"], [snap\:start]    { align-self: flex-start; }

.lines-center, [lines="center"], [lines\:center]      { align-content: center; }
.lines-stretch, [lines="stretch"], [lines\:stretch]   { align-content: stretch; }
.lines-end, [lines="end"], [lines\:end]               { align-content: flex-end; }
.lines-start, [lines="start"], [lines\:start]         { align-content: flex-start; }
.lines-around, [lines="around"], [lines\:around]      { align-content: space-around; }
.lines-between, [lines="between"], [lines\:between]   { align-content: space-between; }

// Offset: force spacing on side of box/column (like bootstrap)
.offset-1, [offset="1"], [offset\:1]      { margin-left: @1-of-12; }
.offset-2, [offset="2"], [offset\:2]      { margin-left: @2-of-12; }
.offset-3, [offset="3"], [offset\:3]      { margin-left: @3-of-12; }
.offset-4, [offset="4"], [offset\:4]      { margin-left: @4-of-12; }
.offset-5, [offset="5"], [offset\:5]      { margin-left: @5-of-12; }
.offset-6, [offset="6"], [offset\:6]      { margin-left: @6-of-12; }
.offset-7, [offset="7"], [offset\:7]      { margin-left: @7-of-12; }
.offset-8, [offset="8"], [offset\:8]      { margin-left: @8-of-12; }
.offset-9, [offset="9"], [offset\:9]      { margin-left: @9-of-12; }
.offset-10, [offset="10"], [offset\:10]   { margin-left: @10-of-12; }
.offset-11, [offset="11"], [offset\:11]   { margin-left: @11-of-12; }
.offset-12, [offset="12"], [offset\:12]   { margin-left: @12-of-12; }

@media @xs_ {
  .offset-xs-1, [offset-xs="1"], [offset-xs\:1]     { margin-left: @1-of-12; }
  .offset-xs-2, [offset-xs="2"], [offset-xs\:2]     { margin-left: @2-of-12; }
  .offset-xs-3, [offset-xs="3"], [offset-xs\:3]     { margin-left: @3-of-12; }
  .offset-xs-4, [offset-xs="4"], [offset-xs\:4]     { margin-left: @4-of-12; }
  .offset-xs-5, [offset-xs="5"], [offset-xs\:5]     { margin-left: @5-of-12; }
  .offset-xs-6, [offset-xs="6"], [offset-xs\:6]     { margin-left: @6-of-12; }
  .offset-xs-7, [offset-xs="7"], [offset-xs\:7]     { margin-left: @7-of-12; }
  .offset-xs-8, [offset-xs="8"], [offset-xs\:8]     { margin-left: @8-of-12; }
  .offset-xs-9, [offset-xs="9"], [offset-xs\:9]     { margin-left: @9-of-12; }
  .offset-xs-10, [offset-xs="10"], [offset-xs\:10]  { margin-left: @10-of-12; }
  .offset-xs-11, [offset-xs="11"], [offset-xs\:11]  { margin-left: @11-of-12; }
  .offset-xs-12, [offset-xs="12"], [offset-xs\:12]  { margin-left: @12-of-12; }
}
@media @sm_ {
  .offset-sm-1, [offset-sm="1"], [offset-sm\:1]     { margin-left: @1-of-12; }
  .offset-sm-2, [offset-sm="2"], [offset-sm\:2]     { margin-left: @2-of-12; }
  .offset-sm-3, [offset-sm="3"], [offset-sm\:3]     { margin-left: @3-of-12; }
  .offset-sm-4, [offset-sm="4"], [offset-sm\:4]     { margin-left: @4-of-12; }
  .offset-sm-5, [offset-sm="5"], [offset-sm\:5]     { margin-left: @5-of-12; }
  .offset-sm-6, [offset-sm="6"], [offset-sm\:6]     { margin-left: @6-of-12; }
  .offset-sm-7, [offset-sm="7"], [offset-sm\:7]     { margin-left: @7-of-12; }
  .offset-sm-8, [offset-sm="8"], [offset-sm\:8]     { margin-left: @8-of-12; }
  .offset-sm-9, [offset-sm="9"], [offset-sm\:9]     { margin-left: @9-of-12; }
  .offset-sm-10, [offset-sm="10"], [offset-sm\:10]  { margin-left: @10-of-12; }
  .offset-sm-11, [offset-sm="11"], [offset-sm\:11]  { margin-left: @11-of-12; }
  .offset-sm-12, [offset-sm="12"], [offset-sm\:12]  { margin-left: @12-of-12; }
}
@media @md_ {
  .offset-md-1, [offset-md="1"], [offset-md\:1]     { margin-left: @1-of-12; }
  .offset-md-2, [offset-md="2"], [offset-md\:2]     { margin-left: @2-of-12; }
  .offset-md-3, [offset-md="3"], [offset-md\:3]     { margin-left: @3-of-12; }
  .offset-md-4, [offset-md="4"], [offset-md\:4]     { margin-left: @4-of-12; }
  .offset-md-5, [offset-md="5"], [offset-md\:5]     { margin-left: @5-of-12; }
  .offset-md-6, [offset-md="6"], [offset-md\:6]     { margin-left: @6-of-12; }
  .offset-md-7, [offset-md="7"], [offset-md\:7]     { margin-left: @7-of-12; }
  .offset-md-8, [offset-md="8"], [offset-md\:8]     { margin-left: @8-of-12; }
  .offset-md-9, [offset-md="9"], [offset-md\:9]     { margin-left: @9-of-12; }
  .offset-md-10, [offset-md="10"], [offset-md\:10]  { margin-left: @10-of-12; }
  .offset-md-11, [offset-md="11"], [offset-md\:11]  { margin-left: @11-of-12; }
  .offset-md-12, [offset-md="12"], [offset-md\:12]  { margin-left: @12-of-12; }
}
@media @lg_ {
  .offset-lg-1, [offset-lg="1"], [offset-lg\:1]     { margin-left: @1-of-12; }
  .offset-lg-2, [offset-lg="2"], [offset-lg\:2]     { margin-left: @2-of-12; }
  .offset-lg-3, [offset-lg="3"], [offset-lg\:3]     { margin-left: @3-of-12; }
  .offset-lg-4, [offset-lg="4"], [offset-lg\:4]     { margin-left: @4-of-12; }
  .offset-lg-5, [offset-lg="5"], [offset-lg\:5]     { margin-left: @5-of-12; }
  .offset-lg-6, [offset-lg="6"], [offset-lg\:6]     { margin-left: @6-of-12; }
  .offset-lg-7, [offset-lg="7"], [offset-lg\:7]     { margin-left: @7-of-12; }
  .offset-lg-8, [offset-lg="8"], [offset-lg\:8]     { margin-left: @8-of-12; }
  .offset-lg-9, [offset-lg="9"], [offset-lg\:9]     { margin-left: @9-of-12; }
  .offset-lg-10, [offset-lg="10"], [offset-lg\:10]  { margin-left: @10-of-12; }
  .offset-lg-11, [offset-lg="11"], [offset-lg\:11]  { margin-left: @11-of-12; }
  .offset-lg-12, [offset-lg="12"], [offset-lg\:12]  { margin-left: @12-of-12; }
}
@media @xl {
  .offset-xl-1, [offset-xl="1"], [offset-xl\:1]     { margin-left: @1-of-12; }
  .offset-xl-2, [offset-xl="2"], [offset-xl\:2]     { margin-left: @2-of-12; }
  .offset-xl-3, [offset-xl="3"], [offset-xl\:3]     { margin-left: @3-of-12; }
  .offset-xl-4, [offset-xl="4"], [offset-xl\:4]     { margin-left: @4-of-12; }
  .offset-xl-5, [offset-xl="5"], [offset-xl\:5]     { margin-left: @5-of-12; }
  .offset-xl-6, [offset-xl="6"], [offset-xl\:6]     { margin-left: @6-of-12; }
  .offset-xl-7, [offset-xl="7"], [offset-xl\:7]     { margin-left: @7-of-12; }
  .offset-xl-8, [offset-xl="8"], [offset-xl\:8]     { margin-left: @8-of-12; }
  .offset-xl-9, [offset-xl="9"], [offset-xl\:9]     { margin-left: @9-of-12; }
  .offset-xl-10, [offset-xl="10"], [offset-xl\:10]  { margin-left: @10-of-12; }
  .offset-xl-11, [offset-xl="11"], [offset-xl\:11]  { margin-left: @11-of-12; }
  .offset-xl-12, [offset-xl="12"], [offset-xl\:12]  { margin-left: @12-of-12; }
}
